* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #e4e1da;
  display: block;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8rem;
  overflow: scroll;
  box-sizing: border-box;
  height: 100vh;
}

.wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10rem 1fr;
  margin: 1rem auto;
  min-height: 100vh;
}

h1 {
  color: #f4f8f8;
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  text-shadow: 0 1px 0 #aaa, 0 2px 0 #a9a9a9, 0 3px 0 #999, 0 4px 0 #979797,
    0 5px 0 #777, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15), 0 2px 40px rgba(255, 255, 255, 1);
}

#canvas {
  border-radius: 5px;
  box-shadow: 1px 1px 5px #333, -1px -1px 5px #333;
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 2;
  grid-row: 1;
  justify-content: center;
  place-items: center;
  z-index: 3;
}

.message-box {
  color: #cf1e13;
  width: 20rem;
  height: 5rem;
  text-align: center;
  text-shadow: 1px 1px 100px #fff;
}

.score-container,
.speed-container {
  color: #1a1611;
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 1px 6px #a3a3a3;
}

.score-container {
  display: flex;
  grid-column: 1;
  grid-row: 2;
  padding-left: 0.5rem;
}

.speed-container {
  display: flex;
  grid-column: 2;
  grid-row: 2;
  justify-content: space-between;
  padding-right: 0.5rem;
}

.speed {
  margin-right: 0.5rem;
}

.speed-meter {
  border: 1px solid #1a1611;
  display: inline;
  box-shadow: 1px 1px 3px #333;
  height: 1rem;
  margin-top: 2px;
  padding: 0 2px;
  position: relative;
  width: 100%;
}

.bar {
  align-self: center;
  background-color: #1a1611;
  height: 0.6rem;
  margin: 0;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: width 1s;
  width: 0%;
}

.touch-pad {
  touch-action: manipulation;
  box-sizing: border-box;
  display: grid;
  flex-grow: 1;
  gap: 0.5rem;
  grid-column: 1 / span 2;
  grid-row: 3;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin-bottom: 6rem;
  max-height: 10rem;
  z-index: 2;
}

.up,
.down,
.left,
.right {
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  display: grid;
  place-items: center;
}

.up:active,
.down:active,
.left:active,
.right:active {
  transform: scale(0.95);
}

.up {
  grid-row: 1 / span 4;
  grid-column: 3 / span 4;
}
.down {
  grid-row: 5 / span 4;
  grid-column: 3 / span 4;
}

.left {
  grid-row: 1 / span 8;
  grid-column: 1 / span 2;
}

.right {
  grid-row: 1 / span 8;
  grid-column: 7 / span 2;
}

.hidden {
  visibility: hidden;
}

@media screen and (min-width: 650px) {
  .wrapper {
    grid-template-rows: 400px 3rem;
    margin-top: 10rem;
    max-width: 400px;
  }

  #canvas,
  .modal {
    max-height: 400px;
    width: 400px;
    margin: auto;
  }

  .touch-pad {
    display: none;
  }
}
