* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ececec;
  display: grid;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  max-width: 1000px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  margin-bottom: 5px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

#canvas {
  background-color: #aaa;
  box-shadow: 0 8px 4px -4px gray;
}

main {
  position: relative;
}

.modal {
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  place-items: center;
  box-sizing: border-box;
  height: 400px;
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.message-box {
  color: #333;
  width: 20rem;
  height: 5rem;
  text-align: center;
}

.message-box p {
  line-height: 2;
}

.message-box h2 {
  margin-bottom: 1rem;
}

.hidden {
  visibility: hidden;
}

.score-speed-container {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.speed-container {
  align-items: baseline;
  display: flex;
}

.speed {
  display: inline;
}

.speed-meter {
  border: 1px solid #cecece;
  display: inline;
  height: 12px;
  min-width: 204px;
  position: relative;
}

.bar {
  background-color: #333;
  display: inline;
  height: 8px;
  width: 1px;
  top: 2px;
  left: 2px;
  position: absolute;
  transition: width 1s;
}
